.main-panel{
    padding-top: 180px;
    padding-bottom: 250px;

    .box{
        .main-header {
            margin: 0px;
            padding-bottom: 5px;
            font-size: 30px;
            font-weight: 1000;
        }
        .sub-header {
            margin: 0px;
            padding-top: 10px;
            padding-bottom: 5px;
            font-size: 18px;
            font-weight: 600;
        }
        .form-label-group{
            padding-top: 10px;
            padding-bottom: 5px;
            .custom-input{
                width: 100%;
                padding: 8px;
                font-size: 15px;
                font-weight: 500;
            }
        }
        .forgot-pwd-p{
            padding-top: 10px;
            padding-bottom: 10px;
            margin: 0px;
            font-size: 15px;
            font-weight: 600;
        }

        .btn-class{
            height: 40px;
            font-size: 13px;

            .home-class{
                font-size: 16px;
                font-weight: 600;

                .home-label{
                    height: 100%;
                    display: -webkit-flex;
                    display: flex;
                    align-items: center;
                    padding-left: 30px;
                }
            }
        }
    }

}