<div class="container-fluid main-panel">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="box">
                <p class="main-header"> Login</p>
                <p class="sub-header"> Dont have an account yet? <span class="cursor-class" (click)="to_signup()"> Create Account!</span></p>
        
                <form [formGroup]="loginForm">
                    <div class="form-label-group">
                        <input
                        id="email"
                        type="text"
                        formControlName="email"
                        class="basic-input"
                        placeholder="Email"
                        autofocus>
                    </div>
                    <div class="form-label-group">
                        <input
                        id="password"
                        type="text"
                        formControlName="password"
                        class="basic-input"
                        placeholder="Password"
                        autofocus>
                    </div>
                    <p class="forgot-pwd-p"> Forgot Password ?</p>

                    <div class="row btn-class">
                        <div class="col-5">
                            <button class="submit-btn" (click)="submit()">Sign in</button> 
                        </div>
                        <div class="col-7 home-class">
                            <span class="home-label cursor-class" (click)="return_home()">Return home.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>