
<div class="base">

</div>
<div class="root-panel" >
    <app-header></app-header>
    <div class="wrapper">
        <router-outlet></router-outlet>

        <!-- <div class="content" [@slideInAnimation]="getRouteAnimation(router2)">
            <router-outlet #router2="outlet"></router-outlet>
        </div> -->
    </div>
    <app-footer></app-footer>
</div>

<div [ngClass]="(this.layoutService.isOpened | async) ? 'sidebar-panel' : 'sidebar-panel collapseInfo'">
    <app-sidebar></app-sidebar>
</div>

<!-- <div *ngIf="(this.layoutService.filler | async ) === true || (this.layoutService.filler | async ) === false " [ngClass]=" (this.layoutService.filler | async ) ? 'test' :'retest' ">
</div> -->



<div [ngClass]="showLanding ? 'item-overlay' : 'item-overlay bottom'">
    <div class="overlay-logo-block" >
        <img class="overlay-logo" src="./../../../assets/clips/parfait-logo.gif" >
    </div>
</div>
