.base{
    position: relative;
    overflow: auto;
}
.root-panel{
    position: relative;
}

.home{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    img{
        height: 70%;
    }
    p{
        font-size: 20px;
    }
}


.test {
    position: fixed;
    top: 0;
    background: #fcfdfb;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: slidein ease-in-out 0.5s;
    -moz-animation: slidein ease-in-out 0.5s; /* Firefox */
    -webkit-animation: slidein ease-in-out 0.5s; /* Safari and Chrome */
    -o-animation: slidein ease-in-out 0.5s; /* Opera */
}
@keyframes slidein {
    from {
        top:100%
    }
    to {
        top:0
    }
  }

.retest{
    position: fixed;
    top: 100%;
    background: #fcfdfb;
    z-index: 20;
    overflow: hidden;
    width: 100%;
    height: 100%;
    animation: slideout ease-in-out 0.5s;
    -moz-animation: slideout ease-in-out 0.5s; /* Firefox */
    -webkit-animation: slideout ease-in-out 0.5s; /* Safari and Chrome */
    -o-animation: slideout ease-in-out 0.5s; /* Opera */
}
  
  @keyframes slideout {
    from {
        top:0
    }
    to {
        top:100%
    }
  }

  

