.product-panel {
    padding-top: 100px;
    .left-panel {
        padding: 100px;
    }
    .right-panel {
        padding: 100px;
        .info-block{
            .bread-crumb{
                font-size: 18px;
                font-weight: 300;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .main-header{
                font-size: 40px;
                font-weight: 500;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .sub-header{
                font-size: 18px;
                // font-weight: 400;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .price{
                font-size: 15px;
                font-weight: 500;
                padding-top: 10px;
                padding-bottom: 10px;
            }
            .submit{
                padding-top: 50px;
                .btn{
                    background-color: #516352;
                    color: white;
                    width: 100%;
                    font-size: 18px;
                    font-weight: 500;
                    padding: 12px;
                }
            }
        }
    }
}
.image-block{
    width: inherit;
}
.product-row{
    padding: 50px;
    width: inherit;
    .image-block{
        width: inherit;
        margin: auto;
    }
}


.review-panel{
    padding: 50px;
    .top-label{
        font-size: 25px;
        font-weight: 800;
    }
    .avg-star {
        font-size: 70px;
        font-weight: 800;
    }

    .name-block{
        font-size: 18px;
        font-weight: 800;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .star-block{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .verified-block{      
        font-size: 12px;
        font-weight: 600;
        padding-bottom: 15px;

    }

    .title{
        font-size: 18px;
        font-weight: 600;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    .detail{
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 15px;
        padding-top: 15px;
    }
}

.card {
    border: none;
}
.card-header{
    background-color: white;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 20px;
    font-weight: 600;
    color: #212529;
}

div[aria-expanded=true] .fa-chevron-right {
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
    display: none;
 }
 div[aria-expanded=false] .fa-chevron-down {
    -moz-transition: all 0.9s ease;
    transition: all 0.9s ease;
    display: none;
 }