<div class="container-fluid product-panel">
    <div class="row main-panel ">
        <div class="col-2">
            <div class="row product-row">
                <img class="image-block" src="../../../../../assets/images/kindpng_1310210.png">
            </div>
            <div class="row product-row">
                <img class="image-block" src="../../../../../assets/images/kindpng_1310210.png">
            </div>
            <div class="row product-row">
                <img class="image-block" src="../../../../../assets/images/kindpng_1310210.png">
            </div>
        </div>
        <div class="col-4 left-panel">
            <img class="image-block" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-6 right-panel">
            <div class="info-block">
                <div class="bread-crumb">
                    Men/Men's Backpacks
                </div>
                <div class="main-header">
                    Apollo Backpack
                </div>
                <div class="price">
                    $423.00
                </div>
                <div class="sub-header">
                    Everything you need for your day and night. The Apollo Backpack seamlessly transitions between day & night giving you the functionality and space you need for your work and the style you curate for your night.
                </div>
                <div class="submit">
                    <button class="btn">Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid review-panel">
    <div class="row">
        <div class="col-3 top-label">
            Product Details
        </div>
        <div class="col-9">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-3 ">
        </div>
        <div class="col-9">
            <div class="container" >
                <div id="accordion">
                    <div class="card">
                        <!-- <div class="card-header" id="headingOne">
                            <h5 class="mb-0 d-inline">
                                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Available Namespaces
                                </button>
                            </h5>
                            <a href="#" data-target="[data-parent='#child1']" data-toggle="collapse" class="my-2 float-right">toggle all</a>
                        </div> -->
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div  id="child1">
                                <div class="card card-panel" >
                                    <div class="card-header" data-toggle="collapse" data-target="#collapseOneA" aria-expanded="false" aria-controls="collapseExample" >
                                        <a >
                                            Ad

                                                <i class="fa fa-chevron-right pull-right"></i>
                                                <i class="fa fa-chevron-down pull-right"></i>
                                            </a>
                                    </div>
                                    <div class="card-body collapse" data-parent="#child1" id="collapseOneA">
                                        djjhhjh
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div id="child2">
                                <div class="card card-panel" >
                                    <div class="card-header " data-toggle="collapse" data-target="#collapseOneB" aria-expanded="false" aria-controls="collapseExample">
                                        <a >
                                            dccd

                                                <i class="fa fa-chevron-right pull-right"></i>
                                                <i class="fa fa-chevron-down pull-right"></i>
                                            </a>

                                    </div>
                                    <div class="card-body collapse" data-parent="#child2" id="collapseOneB">
                                        d
                                        sx
                                        xs
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>
                                        <div>dcdc</div>

                                        sx
                                        sx
                                        xs
                                        sx
                                        xssx
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            <!-- <ngb-accordion [closeOthers]="true" activeIds="static-1">
                <ngb-panel id="static-1" >
                    <ng-template   ngbPanelTitle>
                        <span class="accordian-panel-header">Specification</span>
                    </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-2">
                  <ng-template ngbPanelTitle>
                    <span>&#9733; <b>Fancy</b> title &#9733;</span>
                  </ng-template>
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
                <ngb-panel id="static-3" title="Disabled" [disabled]="true">
                  <ng-template ngbPanelContent>
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia
                    aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                    sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                    occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                    labore sustainable VHS.
                  </ng-template>
                </ngb-panel>
              </ngb-accordion> -->
        </div>
    </div>

</div>





<div class="container-fluid review-panel">
    <div class="row">
        <div class="col-3 top-label">
            Customers reviews
        </div>
        <div class="col-9">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-3 avg-star">
            5.0
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-3">
                    <div class="name-block">
                        Michael R.
                    </div>
                    <div  class="star-block">
                        *****
                    </div>
                    <div class="verified-block">
                        Verfied Buyer
                    </div>
                </div>
                <div class="col-9">
                    <div class="title">
                        Sleek and stylish, but still very functional
                    </div>
                    <div class="detail">
                        I love all the details that were taken to account when creating the bag. The backpack is super sleek and stylish but still very functional.
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>