

<nav class="navbar navbar-expand-lg navbar-light sticky-top "  [ngClass]="{'showMenu ': !default }">
    <a class="name cursor-class" (click)="to_home()">
        Parfait
    </a>
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
  
 
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item ">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" data-disabled="true" (click)="showMenu(1)">Men</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  data-disabled="true" (click)="showMenu(2)">Women</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-disabled="true"  (click)="showMenu(3)">Kids</a>
            </li>
            <li class="nav-item">
              <i class="fa fa-heart menu-icon cursor-class" data-disabled="true"  aria-hidden="true" (click)="showMenu(4)"> </i>
            </li>
            <li class="nav-item">
              <i class="fa fa-shopping-bag menu-icon cursor-class" data-disabled="true"  aria-hidden="true" (click)="showMenu(5)"> </i>
            </li>
            
            <li class="nav-item">
              <i class="fa fa-user menu-icon cursor-class" data-disabled="true"  aria-hidden="true" (click)="to_login()"> </i>
            </li>
            <!-- <li class="nav-item dropdown">
              <i class="fa fa-user menu-icon " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </i>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
          </ul>
          <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> -->
        </div>
    
  </nav>