.navbar{
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 1;
    // transition-property: height;
    // transition-duration: 2s;
   
}
.name {
    // display: flex;
    // align-items: center;
    // justify-content: center;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.nav-item{
    padding-left: 15px;
    padding-right: 15px;
}

.menu-icon{
    font-size: 18px;
    position:relative;
    top: calc(50% - 11px);
}
.showMenu{
    background-color:white;
}