.image-block{
    width: inherit;
}
.main-panel{
    width: inherit;
    .header{
        position: absolute;
        font-size: 40px;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 1px 1px #807d7d;        
        top: 12%;
        // right: 0;
        text-align: left;
        padding: 20px;
        .sub-header{
            font-size: 30px;
        }
    }
}
.right-panel{
    // padding: 100px;
    .header{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 1px 1px #807d7d;
        top: 50%;
        left: 0;
        text-align: left;
        padding: 20px;
    }
}

.left-panel{
    // padding-left: 50px;
    .header{
        position: absolute;
        font-size: 60px;
        font-weight: 600;
        color: #ffffff;
        text-shadow: 1px 1px #807d7d;
        top: 50%;
        text-align: right;
        right: 0;
        padding: 20px;
    }
}
.carousal-panel {
    background-color: #e4e4e4;
    margin-top: 50px;
    margin-bottom: 50px;

    .inner-layer{
        padding-left: 150px;
        padding-right: 150px;
        // padding-top: 50px;
        // padding-bottom: 50px;
        .right-block{
            padding-left: 50px;
            padding-right: 50px;
            margin: auto;
        }
        .product-image{
            width: inherit;
            padding: 120px;
        }
        .header {
            font-size: 50px;
            font-weight: 600;
        }
        .sub-header{
            font-size: 20px;
        }
        .nav-header{
            padding-top: 20px;
        }
    }
}

.clip-panel{
    .banner-block{
        background-color: #6e7d72;
    }
    .clip-block{
        width: inherit;
    }
}