
<div class="base-container">
    <div class="container-fluid clip-panel">
        <div class=" main-panel ">
            <div class="header">
                Experience The New You
                <div>
                   With Just Launched Fall Collection.
                </div>

            </div>
            <video class="clip-block" [muted]="true" autoplay playsinline loop>
                <source src="../../../../../assets/clips/girl_walking.mp4" type="video/mp4">
                Your browser does not support thec video tag.
            </video>
        </div>
    </div>
    
    <div class="container-fluid dashboard-panel">
        <div class="row main-panel ">
            <div class="col-6 left-panel">
                <div class="header">
                    Men
                </div>
                <img class="image-block" src="../../../../../assets/images/Men-Navy-Blue-Solid-Cotton-T-shirt-Regular-Fit-7751584094-1.jpg">
            </div>
            <div class="col-6 right-panel">
                <div class="header">
                    Women
                </div>
                <img class="image-block" src="../../../../../assets/images/Women-Blue-Striped-Blouson-Top-1.jpg">
            </div>
        </div>
    </div>
    
    
    <div class="container-fluid carousal-panel ">
        <div class="inner-layer">
            <div class="row">
                <div class="col-6">
                    <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
                </div>
                <div class="col-6 right-block">
                    <p class="label-style header">
                        Red Tulle
                    </p>
                    <p class="sub-header">Bag designed for the chick and comfy you. </p>
                    <p class="nav-header cursor-class" (click)="to_product()">Explore</p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid sale-panel ">
        <div class="inner-layer">
            <app-carousel></app-carousel>
        </div>
    </div>
</div>
