<div class="container-fluid main-panel">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="box">
                <p class="main-header"> Register</p>        
                <form [formGroup]="signUpForm">
                    <div class="form-label-group">
                        <input
                        id="first_name"
                        type="text"
                        formControlName="first_name"
                        class="  basic-input"
                        placeholder="First Name"
                        autofocus>
                    </div>
                    <div class="form-label-group">
                        <input
                        id="last_name"
                        type="text"
                        formControlName="last_name"
                        class="  basic-input"
                        placeholder="Last Name"
                        autofocus>
                    </div>
                    <div class="form-label-group">
                        <input
                        id="email"
                        type="text"
                        formControlName="email"
                        class="  basic-input"
                        placeholder="Email"
                        autofocus>
                    </div>
                    <div class="form-label-group">
                        <input
                        id="password"
                        type="text"
                        formControlName="password"
                        class="  basic-input"
                        placeholder="Password"
                        autofocus>
                    </div>
                    <div class="form-label-group">
                        <input
                        id="re_password"
                        type="text"
                        formControlName="re_password"
                        class="  basic-input"
                        placeholder="Retype Password"
                        autofocus>
                    </div>
                    <p class="forgot-pwd-p"> Have an account? <span class="cursor-class" (click)="to_login()"> Log in !</span></p>

                    <div class="row btn-class">
                        <div class="col-5">
                            <button class="submit-btn">Create Account</button> 
                        </div>
                        <div class="col-7 home-class">
                            <span class="home-label cursor-class" (click)="return_home()">Return home.</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>