<div class="container-fluid main-container">
    <!-- <div class="address-panel">
        <p class="label-style"> Parfait & co</p>
        <p class="label-style">Contact us at - +89898989898</p>
    </div>  -->
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-4 nav-panels">
                    <p class="label-header">Shop</p>
                    <div><p class="label-items">New Arrivals</p></div>
                    <div><p class="label-items">Best Sellers</p></div>
                    <div><p class="label-items">Gift Guides</p></div>
                    <div><p class="label-items">Visit us</p></div>
                </div>
                <div class="col-4 nav-panels">
                    <p class="label-header">Explore</p>
                    <div><p class="label-items">About us</p></div>
                    <div><p class="label-items">Collaborations</p></div>
                    <div><p class="label-items">Product Care</p></div>
                    <div><p class="label-items">Stories</p></div>                    
                </div>
                <div class="col-4 nav-panels">
                    <p class="label-header">More</p>
                    <div><p class="label-items">My Account</p></div>
                    <div><p class="label-items">My Orders</p></div>
                    <div><p class="label-items">Careers</p></div>
                    <div><p class="label-items">Contact</p></div>                    
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
        <div class="col-4 nav-panels">

            <div class="label-header">
                Subscribe for great offers!
            </div>
            <div class="form-panel">
                <form [formGroup]="offerForm">
                    <div class="row">
                        <div class="col-10">
                            <div class="form-label-group">
                                <input
                                id="email"
                                type="text"
                                formControlName="email"
                                class=" custom-input"
                                placeholder="Email"
                                autofocus>
                                <label class="form-label" for="email">Apply for our free membership to receive exclusive deals, news, and events.</label>
                            </div>
                        </div>
                        <div class="col-2">
                            <i class="fa fa-arrow-right icon-style" aria-hidden="true" (click)="submit()"> </i>
                        </div>

                    </div>


                </form>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light  " >
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" >Terms of Service</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Shipping and Returns</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">FAQ
                </a>
                </li>
            </ul>
            </div>
    </nav>
    <div class="company-tag">
        <p>
            ©Parfait 2020
        </p>
    </div>
        
        <!-- ©Hærfest 2020
Terms of Service
Privacy Policy
Shipping and Returns
FAQ -->

<!-- NZD $ -->

</div>
