

.main-container{
//    background-color:  #4b504a;
    padding-top: 100px;
   .address-panel{
       color: white;
       text-align: center;
       padding: 50px;
   }


   .nav-panels{
        padding: 50px;

        .label-header{
            font-size: 18px;
            font-weight: 800;
        }
        .label-items{
            font-size: 15px;
            font-weight: 500;
        }
   }
   .nav-item{
    font-size: 15px;
   }

   .company-tag{
       text-align: center;
       color: rgba(80, 47, 47, 0.9);
       padding-top: 20px;
       padding-bottom: 20px;
   }


    .form-panel{
        padding-top: 20px;
    }
   .custom-input{
       width: 100%;
       border-top: none;
       border-left: none;
       border-right: none;
    //    padding-top: 10px;
    //    padding-bottom: 10px;
       height: calc(1.5em + .75rem + 2px);
       color: rgba(80, 47, 47, 0.9);
       background-color: #fff;
       line-height: 1.5;
       background-clip : none;
       border-radius: none;   
    //    background-clip: padding-box;
    //    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   }
   .form-label{
       padding-top: 10px;
   }
   input:focus {
    outline: none;
  }
  .icon-style{
    width: inherit;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
}