.carousal-item{
    // padding: 100px;

    .image-block{
        padding-right: 130px;
        padding-left: 130px;

        .image{
            width: 100%;
            border-radius: 50%;
        }

    }
    .label-block{
        text-align: center;
        padding-right: 30px;
        padding-left: 30px;  
        .header{
            padding-top: 20px;
            padding-bottom: 5px;
            font-size: 15px;
            font-weight: 900;
        }
        .sub-header{
            padding-top: 10px;
            padding-bottom: 10px;            
            font-size: 20px;
            font-style: italic;
        }
    }
}


.header-block{
    text-align: center;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    .main-header{
        font-size: 25px;
        padding: 10px;
    }
    .sub-header{
        font-size: 18px;
        font-weight: 600;
        padding: 10px;
    }
}