<div class="header-block">
  <!-- <div class="col-6">
  </div>
  <div class="col-6"> -->
      <p class="label-style main-header">
         We have over 300+ Happy Customers and counting ...
      </p>
      <p class="label-style sub-header">
        Join Us
     </p>
      <!-- <p class="label-style text">
          lets shop
      </p> -->
  <!-- </div> -->
</div>
  
  
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slide of slidesStore">
    <ng-template carouselSlide [id]="slide.id">
        <div class="carousal-item">
          <div class="image-block">
              <img class="image" [src]="slide.src"  [title]="slide.title">
          </div>
          <div class="label-block">
              <div class="header">
                  {{slide.name}}
              </div>
              <div class="sub-header">
                  "{{slide.comment}}"

              </div>
          </div>
        </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
