

<div class="sidebar-main-container">
    <nav class="navbar navbar-expand-lg navbar-light ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="showMenu(1)">Men</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="showMenu(2)">Women</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="showMenu(3)">Kids</a>
                </li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>
                <li class="nav-item"></li>

                <li class="nav-item ">
                    <i class="fa fa-times menu-icon cursor-class" (click)="closeSidebar()" aria-hidden="true"> </i>
                </li>
                <!-- <li class="nav-item">
                    <i class="fa fa-heart menu-icon" aria-hidden="true"> </i>
                </li>
                <li class="nav-item">
                    <i class="fa fa-shopping-bag menu-icon" aria-hidden="true" > </i>
                </li>
                <li class="nav-item dropdown">
                    <i class="fa fa-user menu-icon " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </i>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" >Action</a>
                    <a class="dropdown-item" >Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" >Something else here</a>
                    </div>
                </li> -->
            </ul>  
        </div>
    </nav>
    <div *ngIf="(selection ) && (selection ) === 1" class="sidebar-menu">
        <p class="cursor-class" (click)="to_list()">Tops</p>
        <p class="cursor-class" (click)="to_list()">Jeans</p>
        <p class="cursor-class" (click)="to_list()">Shirts</p>
        <p class="cursor-class" (click)="to_list()">Accessories</p>
    </div>

    <div *ngIf="(selection ) &&  (selection ) === 2" class="sidebar-menu">
        <p class="cursor-class" (click)="to_list()">Tops</p>
        <p class="cursor-class" (click)="to_list()">Jeans</p>
        <p class="cursor-class" (click)="to_list()">Dresses</p>
        <p class="cursor-class" (click)="to_list()">Accessories</p>
    </div>


    <div *ngIf="(selection ) && (selection ) === 3" class="sidebar-menu">
        <p class="cursor-class" (click)="to_list()">Tops</p>
        <p class="cursor-class" (click)="to_list()">Bottoms</p>
        <p class="cursor-class" (click)="to_list()">Accessories</p>
    </div>

    <div *ngIf="(selection ) && (selection ) === 4" class="sidebar-menu">
        <div class="cart-panel">
            favourite
        </div>
    </div>

    <div *ngIf="(selection ) && (selection ) === 5" class="sidebar-menu">
        <div class="cart-panel">
            cart
        </div>
    </div>
</div>

