.sidebar-main-container{
    width: inherit;
    .navbar{
        height: 80px;
        width: 100%;
        z-index: 1;
        .nav-item{
            padding-left: 15px;
            padding-right: 15px;
        }
        .menu-icon{
            font-size: 18px;
            position:relative;
            top: calc(50% - 11px);
        }
    }
}


.sidebar-menu {
    font-size: 30px;
    padding: 40px;
}


