/* You can add global styles to this file, and also import other style files */
html, body {
    min-height: 100%;
    overflow: auto;
    font-family: "Montserrat", sans-serif;
}
.col-1 {
    padding: 0px;
}
.col-2 {
    padding: 0px;
}
.col-3 {
    padding: 0px;
}
.col-4 {
    padding: 0px;
}
.col-5 {
    padding: 0px;
}
.col-6 {
    padding: 0px;
}
.col-7 {
    padding: 0px;
}
.col-8 {
    padding: 0px;
}
.col-9 {
    padding: 0px;
}
.col-10 {
    padding: 0px;
}
.col-11 {
    padding: 0px;
}
.col-12 {
    padding: 0px;
}
.row {
    padding: 0px;
    margin: 0px;
}
.label-style{
    padding: 0px;
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
.container-fluid {
    padding: 0px;
}
.dashboard-panel{
    padding: 100px;
}
.ng-sidebar--right {
    background-color: white;
    width: 32.4%;
}


.navbar-light .navbar-nav .nav-link {
    color: rgba(80, 47, 47, 0.9);
    font-weight: 550;
    cursor: pointer;
}


.basic-form {
    .custom-input-box{
        width: 100%;
        padding: 8px;
        font-size: 15px;
    }
    
}

.submit-btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: #304231;
    color: white;
    font-weight: 600;
}

.basic-input {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
    // border: 1px solid rgb(133 134 135 / 67%);
}
.basic-input:focus{
    // border: 1px solid rgb(38 88 44 / 94%);
    outline: none;
}


.cursor-class{
    cursor: pointer;
}


.item-overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; left: 0;
    background: #fcfdfb;
    color: #fff;
    overflow: hidden;
    text-align: center;
    /* fix text transition issue for .left and .right but need to overwrite left and right properties in .right */
    width: 100%; 
    z-index: 10;
    -moz-transition: top 0.8s, right 0.8s, bottom 0.8s, left 0.8s;
    -webkit-transition: top 0.8s, right 0.8s, bottom 0.8s, left 0.8s;
    transition: top 0.8s, right 0.8s, bottom 0.8s, left 0.8s;
}
.item-overlay.bottom {
    .overlay-logo{
        opacity: 0;
    }
    bottom: 100%;
}
.overlay-logo-block{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay-logo{
    position: absolute;
    padding : 500px;
    width: inherit;
    // height: inherit;
}


.sidebar-panel{
    position: fixed;
    top: 0; right: 0; bottom: 0; 
    background: #fcfdfb;
    overflow: hidden;
    width: 450px;
    z-index: 10;
    transition: all 0.4s ease-in-out ;
}

.sidebar-panel.collapseInfo{
    width: 0px;
}

// .filler-overlay{
//     position: fixed;
//     top: 0; right: 0; bottom: 0; left: 0;
//     background: red;
//     overflow: hidden;
//     height: 0px;
//     z-index: 15;
//     transition: all 2s ease-in-out ;
// }
// .filler-overlay.both{
//     height: 100%;
//     // transform: translate(200px);
// }

.filler-overlay {
    position: fixed;
    top: 0; right: 0; bottom: 0; 
    opacity: 0.8;
    // background: #fcfdfb;
    // color: #fff;
    // width: 100%; 
    z-index: 15;
    overflow: hidden;
    // text-align: center;
    animation-name: example;
    animation-duration: 1s ease-in-out ;

  }
  
  @keyframes example {
    0%   { 
        width:100%;
        opacity: 0;

    }
    50%  {
        width:0%;
        opacity: 1;
        background: red;
    }
    100% {
        width:100%;
        opacity: 1;

        // .root-panel{
        //     // opacity: 1;
        // }
    }
  }


// .filler-overlay{
//     position: fixed;
//     top: 0; right: 0; bottom: 0; left: 0;
//     overflow: hidden;
//     z-index: 15;
// }