<div class="container-fluid clip-panel">
    <img  class=" image-panel " src="../../../../../assets/images/man-sideways-2.jpg">
</div>
<div class="container-fluid items-search-panel ">
    <nav class="navbar-expand-lg navbar-light sticky-top ">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    Home / Mens
                </li>
                </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                <p id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</p>
                <!-- <i class="fa fa-user menu-icon " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> </i> -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
                </li>
            </ul>
            <!-- <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
            </div>
    </nav>
<!-- 
    <div class="row">
        <div class="col-6 ">
            <p class="">  Home / Men </p>
            
        </div>
        <div class="col-6 ">

        </div>
        
    </div> -->
</div>
<div class="container-fluid items-list-panel ">

    <div class="row">
        <div class="col-4 item-panel" routerLink="/home/product">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel" routerLink="/home/product">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel" routerLink="/home/product">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
    </div>

    <div class="row">
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
    </div>

    <div class="row">
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
        <div class="col-4 item-panel">
            <img class="product-image" src="../../../../../assets/images/kindpng_1310210.png">
        </div>
    </div>
</div>
