.image-panel{
    width: inherit;
}

.items-search-panel{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    .breadcrumb{
        font-size: 10px;
        color: grey;

    }
}
.items-list-panel{
    padding: 100px;
    .item-panel{
        padding: 80px;

        .product-image{
            width: inherit;
        }
    }
}


.showPage{
    display: block;
}
.hidePage{
    display: none;
}